:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-yellow: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", serif;
  background-color: var(--Very-dark-blue);
  color: white;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}
main {
  display: flex;
  gap: 30px;
}

aside {
  background-color: var(--Dark-blue);
  width: 250px;
  border-radius: 20px;
  height: fit-content;
}
aside .info, aside ul {
  padding: 30px;
}
aside .info {
  background-color: var(--Blue);
  border-radius: 20px;
  padding-bottom: 80px;
}
aside .info img {
  width: 90px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 30px;
}
aside .info span {
  color: var(--Pale-Blue);
}
aside .info h1 {
  font-size: 3rem;
  font-weight: 300;
}
aside li:not(:last-of-type) {
  margin-bottom: 20px;
}
aside li {
  color: var(--Pale-Blue);
  list-style: none;
  cursor: pointer;
}
aside li:hover, aside li.active {
  color: white;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 30px;
}
article {
  border-radius: 20px;
  padding-top: 45px;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -5%;
}
article.work {
  background-color: var(--Light-orange);
  background-image: url(./images/icon-work.svg);
}
article.play {
  background-color: var(--Soft-blue);
  background-image: url(./images/icon-play.svg);
}
article.study {
  background-color: var(--Light-red);
  background-image: url(./images/icon-study.svg);
}
article.exercise {
  background-color: var(--Lime-green);
  background-image: url(./images/icon-exercise.svg);
}
article.social {
  background-color: var(--Violet);
  background-image: url(./images/icon-social.svg);
}
article.self-care {
  background-color: var(--Soft-yellow);
  background-image: url(./images/icon-self-care.svg);
}
article .cart {
  background-color: var(--Dark-blue);
  border-radius: 16px;
  transition: .3s;
  padding: 30px;
  height: 100%;
}
article .cart:hover {
  background-color: hsl(246deg 51.14% 31.36%);
}
article .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
article .title img {
  cursor: pointer;
  opacity: .6;
}
article .title img:hover {
  opacity: 1;
}
article h2 {
  font-size: 3.1rem;
  font-weight: 300;
  padding: 30px 0 10px;
}
article p {
  color: var(--Pale-Blue);
}
footer {
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  color: var(--Pale-Blue);
  width: max-content;
}
footer a {
  color: var(--Blue);
  text-decoration: none;
}

@media (max-width: 1100px) {
  main {
    gap: 20px;
  }
  aside {
    width: 230px;
  }
  section {
    gap: 20px;
    grid-template-columns: repeat(3, 230px);
  }
}
@media (max-width: 980px) {
  main {
    padding: 20px 20px 40px;
  }
  section {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 830px) {
  main {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  aside .info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
  }
  aside .info img {
    margin-bottom: 0;
  }
  aside ul {
    display: flex;
    justify-content: space-between;
  }
  aside li:not(:last-of-type) {
    margin-bottom: 0;
  }
  section {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 580px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
  article .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  article h2 {
    padding: 20px 0 0;
  }
}

